In [154]:
import pandas as pd
from pathlib import Path
import numpy as np
%matplotlib inline

In [155]:
budget_data = Path("Resources/budget_data.csv")
budget = pd.read_csv(budget_data)
budget

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [212]:
from pathlib import Path
import csv

csvpath = Path("Resources/budget_data.csv")
records = []

with open(csvpath, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    csv_header = next(csvreader)
    print(csv_header)
    csv_header.append("Average")
    records.append(csv_header)
    print(csv_header)
    
    name = row[0]
    count = int(row[1])
    print(row[2])
    revenue = int(row[2])
    
    for row in csvreader:
        print(row)
        
    average = round(revenue/count,2)
    
    row.append(average)
    records.append(row)
    
print(records)

['Date', 'Profit/Losses']
['Date', 'Profit/Losses', 'Average']

IndexError: list index out of range

In [141]:
total_months = budget['Date'].count()

In [142]:
print(f"Total Months: {total_months}")

Total Months: 86

In [143]:
total = budget['Profit/Losses'].sum()

In [144]:
print(f"Total: {total}")

Total: 38382578

In [145]:
# average revenue change
pl_raw = budget['Profit/Losses']
pl = pl_raw.to_list()

change = []

#i = -1
#j = 1
x = -1

for i in range(total_months):
    #delta += pl_raw[i] - pl_raw[i - 1]
    #change.append(delta)
    x += i - (i-1)
    #print(i)
    #print(j)
    #print(i-i)
    print(x)


'''
i = 1
for i in range(total_months):
    change += int(pl_raw[i]) - int(pl_raw[i-i])
    i += i
'''

for i in range(total_months):
    print(pl_raw[1]-pl_raw[0])
    i += 1

print(change)
print(pl_raw)

#avg_change = sum(change) / len(change)
#print(f"Average Change: {}")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
116771
[]
0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [116]:
change = 0

i = 1

for i in range(total_months):
    change += pl_raw[i] - pl_raw[i-i]
    #i +=1
    
print(change)
avg_change = change / total_months
print(avg_change)

-36255446
-421574.9534883721

In [119]:
pl_total = 0
for i in pl:
    pl_total += int(i)
    
pl_total

38382578

In [138]:
total_pl_change = 0

i=1
for i in range(total_months):
    total_pl_change += int(pl_raw[i]) - int(pl_raw[i-i])

print(total_pl_change)

first_pass = int(pl_raw[i]) - int(pl_raw[i-1])

total_pl_change_adj = total_pl_change - first_pass
print(total_pl_change_adj)

avg_pl_change = (total_pl_change_adj + int(pl_raw[0]))/total_months
#avg_pl_change

-36255446
-36788315

In [121]:
range(total_months)

range(0, 86)

In [59]:
change = 0

pl = budget['Profit/Losses']

'''
#i = 0

for i in pl:
    delta = pl[i] - pl[i-1]
    change.append(delta)

change
'''

change = 0
for i in pl:
    change += int(pl[i]) - int(pl[i - 1])
    i += 1

KeyError: 867884

In [62]:
change = []

pl_increases = []
pl_decreases = []

for i in budget['Profit/Losses']:
    if budget['Profit/Losses'][1] - budget['Profit/Losses'][0] > 0:
        pl_increases.append(i)
    else:
        pl_decreases.append(i)
    i += 1
    
print(pl_increases)
print(pl_increases)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [30]:
print(F"Financial Analysis\n------------------------------\nTotal Months: {total_months}\nTotal: {total}\nAverage Change: ")

Financial Analysis
------------------------------
Total Months: 86
Total: 38382578
Average Change:

In [35]:
revenue_sum = 0

for i in budget['Profit/Losses']:
    revenue_sum += int(i)
    
revenue_sum

38382578

In [73]:
date, revenue = ([] for i in range(2))

    row_num = 0
    for row in reader:
        date.append(row[0])
        revenue.append(row[1])
        row_num += 1

print(revenue)

[]

In [76]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [199]:
print(final_profit, initial_profit)

671099 671099

In [246]:
print(pl)

['867884', '984655', '322013', '-69417', '310503', '522857', '1033096', '604885', '-216386', '477532', '893810', '-80353', '779806', '-335203', '697845', '793163', '485070', '584122', '62729', '668179', '899906', '834719', '132003', '309978', '-755566', '1170593', '252788', '1151518', '817256', '570757', '506702', '-1022534', '475062', '779976', '144175', '542494', '359333', '321469', '67780', '471435', '565603', '872480', '789480', '999942', '-1196225', '268997', '-687986', '1150461', '682458', '617856', '824098', '581943', '132864', '448062', '689161', '800701', '1166643', '947333', '578668', '988505', '1139715', '1029471', '687533', '-524626', '158620', '87795', '423389', '840723', '568529', '332067', '989499', '778237', '650000', '-1100387', '-174946', '757143', '445709', '712961', '-1163797', '569899', '768450', '102685', '795914', '60988', '138230', '671099']

In [249]:
import csv
from pathlib import Path

pybankcsv = Path("Resources/budget_data.csv")
output = Path("Resources/budget_output.txt")

pl = []
pl_changes = []
month = []

total_months = 0
total = 0
total_pl_change = 0
initial_pl = 0


with open(pybankcsv, newline="") as file_csv:
    csv_reader = csv.reader(file_csv, delimiter=",")
    csv_header = next(csv_reader)
    
    for row in csv_reader:
        total_months += 1
        
        month.append(row[0])
        
        pl.append(row[1])
        total = total + int(row[1])
        
        final_pl = int(row[1])
        monthly_pl_change = final_pl - initial_pl
        
        pl_changes.append(monthly_pl_change)
        
        total_pl_change = total_pl_change + monthly_pl_change
        initial_pl = final_pl
        
        average_change = (total_pl_change/total_months)
        
        max_pl = max(pl_changes)
        min_pl = min(pl_changes)
        
        max_pl_date = month[pl_changes.index(max_pl)]
        min_pl_date = month[pl_changes.index(min_pl)]
        
print(final_profit)
print("\n")
print(initial_profit)
print("\n")
print(total_pl_change)
#print(monthly_pl_change)

671099


0


671099

In [216]:
print(monthly_changes)

[867884, 116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [247]:
print(month)

['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']

In [224]:
print(initial_profit)

671099

In [248]:
import csv
from pathlib import Path

pybankcsv = Path("Resources/budget_data.csv")
output = Path("Resources/budget_output.txt")

pl = []
pl_changes = []
month = []

total_months = 0
total = 0
total_pl_change = 0
initial_pl = 0


with open(pybankcsv, newline="") as file_csv:
    csv_reader = csv.reader(file_csv, delimiter=",")
    csv_header = next(csv_reader)
    
    for row in csv_reader:
        total_months += 1
        
        month.append(row[0])
        
        pl.append(row[1])
        total = total + int(row[1])
        
        final_pl = int(row[1])
        monthly_pl_change = final_pl - initial_pl
        
        pl_changes.append(monthly_pl_change)
        
        total_pl_change = total_pl_change + monthly_pl_change
        initial_pl = final_pl
        
        average_change = (total_pl_change/total_months)
        
        max_pl = max(pl_changes)
        min_pl = min(pl_changes)
        
        max_pl_date = month[pl_changes.index(max_pl)]
        min_pl_date = month[pl_changes.index(min_pl)]
        
    
    print("--------------------------------------------------------------")
    print("Financial Analysis")
    print("--------------------------------------------------------------")
    print(f"Total Months: {total_months}")
    print(f"Total: ${total}")
    print(f"Average Change: ${average_change}")
    print(f"Greatest Increase in Profits: {max_pl_date} ${max_pl}")
    print(f"Greatest Decrease in Profits: {min_pl_date} ${min_pl}")
    print("--------------------------------------------------------------")
    
with open(output, 'w') as csvfile:
    csvfile.write("---------------------------------------------------------\n")
    csvfile.write(f"Financial Analysis\n")
    csvfile.write("---------------------------------------------------------\n")
    csvfile.write(f"Total Months: {total_months}\n")
    csvfile.write(f"Total: {total}\n")
    csvfile.write(f"Average Change: ${average_change}\n")
    csvfile.write(f"Greatest Increase in Profits: {max_pl_date} ${max_pl}\n")
    csvfile.write(f"Greatest Decrease in Profits: {min_pl_date} ${min_pl}\n")
    csvfile.write("---------------------------------------------------------")

--------------------------------------------------------------
Financial Analysis
--------------------------------------------------------------
Total Months: 86
Total: $38382578
Average Change: $7803.476744186047
Greatest Increase in Profits: Feb-2012 $1926159
Greatest Decrease in Profits: Sep-2013 $-2196167
--------------------------------------------------------------

In [229]:
date

['Jan-2010',
 'Feb-2010',
 'Mar-2010',
 'Apr-2010',
 'May-2010',
 'Jun-2010',
 'Jul-2010',
 'Aug-2010',
 'Sep-2010',
 'Oct-2010',
 'Nov-2010',
 'Dec-2010',
 'Jan-2011',
 'Feb-2011',
 'Mar-2011',
 'Apr-2011',
 'May-2011',
 'Jun-2011',
 'Jul-2011',
 'Aug-2011',
 'Sep-2011',
 'Oct-2011',
 'Nov-2011',
 'Dec-2011',
 'Jan-2012',
 'Feb-2012',
 'Mar-2012',
 'Apr-2012',
 'May-2012',
 'Jun-2012',
 'Jul-2012',
 'Aug-2012',
 'Sep-2012',
 'Oct-2012',
 'Nov-2012',
 'Dec-2012',
 'Jan-2013',
 'Feb-2013',
 'Mar-2013',
 'Apr-2013',
 'May-2013',
 'Jun-2013',
 'Jul-2013',
 'Aug-2013',
 'Sep-2013',
 'Oct-2013',
 'Nov-2013',
 'Dec-2013',
 'Jan-2014',
 'Feb-2014',
 'Mar-2014',
 'Apr-2014',
 'May-2014',
 'Jun-2014',
 'Jul-2014',
 'Aug-2014',
 'Sep-2014',
 'Oct-2014',
 'Nov-2014',
 'Dec-2014',
 'Jan-2015',
 'Feb-2015',
 'Mar-2015',
 'Apr-2015',
 'May-2015',
 'Jun-2015',
 'Jul-2015',
 'Aug-2015',
 'Sep-2015',
 'Oct-2015',
 'Nov-2015',
 'Dec-2015',
 'Jan-2016',
 'Feb-2016',
 'Mar-2016',
 'Apr-2016',
 'May-2016',
 'Jun-2016',
 'Jul-2016',
 'Aug-2016',
 'Sep-2016',
 'Oct-2016',
 'Nov-2016',
 'Dec-2016',
 'Jan-2017',
 'Feb-2017']

In [244]:
total_pl_change

671099